* {
  font-family: 'Open Sans', serif;
}

header {
  height: 130px;
  background-color: #333F48;
}

.container-fluid {
  max-width: 1224px;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.navbar-nav li:not(:last-child) {
  margin-right: 60px;
}

#left_container img {
  width: 190px;
  height: 92px;
}

#right_container,
#navbar_toggle {
  margin-top: 50px;
}

#header_bottom ul {
  /*margin-right: 120px;*/
  /*width: 513px/*/
}

#header_top {
  height: 50px;
  width: 100vw;
  border-top: #EC8403E5 solid 4px;
}

#header_top > div:first-child {
  /*background-color: #EC8403E5;*/
  width: calc(100% - 550px);
  border-bottom: 46px solid transparent;
  border-right: 46px solid #EC8403E5;
}

#header_top > div:nth-child(2) {
  display: inline-block;
  width: 5px;
  height: 46px;
  transform: skewX(45deg);
  background-color: #00a6dc;
  right: 25px
}

#header_top > div:last-child {
  background-color: #EC8403E5;
  width: 550px;
  margin-left: -5px;
}
#header_top label {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

#top_contact {
  margin-right: 120px;
}

#top_contact > * {
  margin-right: 30px
}

#search {
  width: 16px;
  height: 16px;
}

#rectangle {
  width: 1px;
  height: 16px;
  background-color: #FFFFFF;
}

#main_banner {
  height: 600px;
  background: url(../image/sea.jpg);
  background-size: cover;
  position: relative;
}

#banner_text_container {
  top: 290px;
}

#banner_text_container > span {
  color: #173045;
}

#banner_first_text {
  font-size: 29px;
  font-weight: 600;
}

#banner_second_text {
  font-size: 70px;
  font-weight: 600;
}

#banner_intro_container {
  width: 410px;
  height: 476px;
  background-color: #EC8403;
  margin-top: 62px;
}

#banner_intro {
  width: 290px;
  height: 315px;
  padding: 40px 60px 0 60px;
}

#banner_intro > span {
  font-size: 46px;
  font-weight: 600;
  line-height: 63px;
  color: #FFFFFF;
  display: inline-block;
  width: 290px;
}

#banner_intro > div {
  font-size: 20px;
  font-weight: 600;
  max-width: 172px;
  height: 51px;
  color: #FFFFFF;
  background-color: #EC8403;
  border: #FFFFFF 2px solid;
  margin-top: 30px;
  text-align: left;
  padding: 0 16px 0 24px;
}

#banner_intro > div > img {
  background-size: 18px 18px;
  padding-left: 10px;
}

#about {
  margin: 60px 0;
}

#about_title {
  color: #333F48;
  font-weight: 700;
  font-size: 40px;
}

#about_text p,
#about_text span {
  font-size: 18px;
  color: #333F48;
}

#about_text p {
  font-weight: 400;
}

#about_text span {
  font-weight: 600;
}

#about_text > div {
  margin-top: 20px;
}

#about_text > div > span {
  font-size: 16px;
  font-weight: 600;
  color: #EC8403;
}

#about_text > div > img {
  width: 16px;
  height: 16px;
  /* background-size: 16px 16px; */
  margin-left: 10px;
}